In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [ ]:
data = pd.read_csv('fashion-mnist_train.csv', header = 0)
data = data.dropna()
print(data.shape)
print(list(data.columns))

data.head()

In [ ]:
data.head()

In [ ]:
data['label'].unique()

In [ ]:
data['label']=np.where(data['label'] == '1', 'Extra', data['label'])
data['label']=np.where(data['label'] == '2', 'Extra', data['label'])
data['label']=np.where(data['label'] == '3', 'Extra', data['label'])
data['label']=np.where(data['label'] == '4', 'Extra', data['label'])
data['label']=np.where(data['label'] == '6', 'Extra', data['label'])
data['label']=np.where(data['label'] == '8', 'Extra', data['label'])
data['label']=np.where(data['label'] == '9', 'Extra', data['label'])
data['label']=np.where(data['label'] == '0', 'Extra', data['label'])

In [ ]:
data['label'].unique()

In [ ]:
data.head()

In [ ]:
data.groupby('label').mean()

In [ ]:
print(data.row)

In [ ]:
data.shape

In [ ]:
data.head(10)

In [ ]:
modData = data.set_index("label")

In [ ]:
modData.head()

In [ ]:
modData.head()

In [ ]:
modData.reset_index()

In [ ]:
modData.head()

In [ ]:
modData['pixel77'].unique()

In [ ]:
print(modData)

In [ ]:
print(data)

In [ ]:
modData.reset_index()

In [ ]:
modData = modData.reset_index()

In [ ]:
modData['label'].unique()

In [ ]:
data['label'].value_counts()

In [ ]:
data.head()

In [ ]:
data.head()

In [ ]:
modData = data

In [ ]:
modData.head()

In [ ]:
modData = modData.set_index("label")

In [ ]:
modData = modData.drop("Extra", axis=0)

In [ ]:
modData.head()

In [ ]:
data.head()

In [ ]:
modData.head()

In [ ]:
print(modData)

In [ ]:
modData.head()

In [ ]:
modData = data

In [ ]:
modData.head()

In [ ]:
modData.set_index('label')

In [ ]:
modData.head()

In [ ]:
modData = modData.set_index("label")

In [ ]:
modData.head()

In [ ]:
modData = modData.drop("Extra", axis=0)
modData.head()

In [ ]:
modData.reset_index()

In [ ]:
modData.head()

In [ ]:
modData = modData.reset_index()

In [ ]:
modData.head()

In [ ]:
saveMod = modData

In [ ]:
modData.rename(label={'5':'0', '7':'1'})

In [ ]:
modData = modData.set_index("label")

In [ ]:
modData.rename(index = {'5':'0', '7':'1'})

In [ ]:
modData.head()

In [ ]:
modData = modData.rename(index = {'5':'0', '7':'1'})

In [ ]:
modData = modData.reset_index()

In [ ]:
modData.head()

In [ ]:
modData['label'].unique()

In [ ]:
modData['label'].value_counts()

In [ ]:
sns.countplot(x='label', data = modData, palette = 'hls')
plt.show()
plt.savefig('Label_count_plot')

In [ ]:
saveMod = modData

In [ ]:
print(modData['label'].type())

In [ ]:
modData.types()

In [ ]:
modData.head()

In [ ]:
modData['label'] = modData['label'].astype(int)

In [ ]:
print(modData.dtypes)

In [ ]:
count_sandals = len(modData[modData['label']==0])
print(count_sandals)

In [ ]:
count_sneaker = len(modData[modData['label']==1])

In [ ]:
data.groupby('label').mean()

In [ ]:
modData.groupby('label').mean()

In [ ]:
y = modData.iloc['label'].values

In [ ]:
y = modData.iloc[0].values

In [ ]:
print(y)

In [ ]:
y=0

In [ ]:
modData['label'].unique()

In [ ]:
y = modData.iloc[1]

In [ ]:
print(y)

In [ ]:
y = modData.iloc[1].values

In [ ]:
print(y)

In [ ]:
y = modData.iloc[:,1].values

In [ ]:
print(y)

In [ ]:
x = modData.iloc[:, [2:783]]

In [ ]:
x = modData.iloc[:, 2:].values

In [ ]:
print(x)

In [ ]:
import sklearn

from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain, xtest, ytrain, ytest, = train_test_split(x, y, test_size = 0.25, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc_x = StandardScaler()

In [ ]:
xtrain = sc_x.fit_transform(xtrain)
xtest = sc_x.transform(xtest)

In [ ]:
print(xtrain[0:10, :])

In [ ]:
print(xtrain[0:10, 0:10])

In [ ]:
print(xtrain[0:10, 2:5])

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
classfier = LogisticRegression(random_state = 0)

In [ ]:
classifier.fit(xtrain, ytrain)

In [ ]:
classifier = LogisticRegression(random_state = 0)

In [ ]:
classifier.fit(xtrain, ytrain)

In [ ]:
print(ytrain)

In [ ]:
print(ytrain==1)

In [ ]:
# ytrain only has 0s
if len(np.sum(ytrain)) in [len(ytrain), 0]:
    print("All in one Class")
else:
    classifier.fit(xtrain, ytrain)

In [ ]:
lent = len(np.sum(ytrain))

In [ ]:
summin = np.sum(ytrain)
print(summin)

In [ ]:
print(summin.types)

In [ ]:
modData['label'].unique()

In [ ]:
modData.head

In [ ]:
modData.head(10)

In [130]:
modData['label'].unique

<bound method Series.unique of 0        0
1        1
2        1
3        0
4        0
        ..
11995    0
11996    0
11997    0
11998    0
11999    1
Name: label, Length: 12000, dtype: int64>

In [131]:
modData['label'].unique()

array([0, 1])

In [132]:
modData.to_csv('modDataTrain.csv')

In [133]:
dataTest = pd.read_csv('fashion-mnist_test.csv', header = 0)
dataTest = dataTest.dropna()

In [134]:
dataTest.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
dataTest['label'].unique()

array([0, 1, 2, 3, 8, 6, 5, 4, 7, 9])

In [136]:
dataTest['label'] = np.where(dataTest['label'] == '0', 'Extra', dataTest['label'])

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [137]:
dataTest['label'].unique()

array(['0', '1', '2', '3', '8', '6', '5', '4', '7', '9'], dtype=object)

In [138]:
dataTest['label'] = np.where(dataTest['label'] == '0', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '1', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '2', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '3', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '4', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '6', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '8', 'Extra', dataTest['label'])
dataTest['label'] = np.where(dataTest['label'] == '9', 'Extra', dataTest['label'])

In [139]:
dataTest['label'].unique()

array(['Extra', '5', '7'], dtype=object)

In [140]:
dataTest = dataTest.set_index("label")

In [141]:
dataTest.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
label,,,,,,,,,,,,,,,,,,,,,
Extra,0,0,0,0,0,0,0,9,8,0,...,103,87,56,0,0,0,0,0,0,0
Extra,0,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
Extra,0,0,0,0,0,0,14,53,99,17,...,0,0,0,0,63,53,31,0,0,0
Extra,0,0,0,0,0,0,0,0,0,161,...,137,126,140,0,133,224,222,56,0,0
Extra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [142]:
dataTest = dataTest.drop("Extra", axis = 0)

In [143]:
dataTest.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
label,,,,,,,,,,,,,,,,,,,,,
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [144]:
dataTest = dataTest.reset_index()

In [145]:
dataTest.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
dataTest = dataTest.set_index("label")

In [147]:
dataTest = dataTest.rename(index = {'5':'0', '7':'1'})
dataTest.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
label,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [148]:
dataTest = dataTest.reset_index()

In [149]:
dataTest['label'] = dataTest['label'].astype(int)

In [150]:
print(dataTest.dtypes)

label       int64
pixel1      int64
pixel2      int64
pixel3      int64
pixel4      int64
            ...
pixel780    int64
pixel781    int64
pixel782    int64
pixel783    int64
pixel784    int64
Length: 785, dtype: object

In [151]:
dataTest.to_csv('modDataTest.csv')

In [152]:
datatest = dataTest.set_index('label')
dataTest.head(10)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [153]:
dataTest.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [154]:
dataTest = dataTest.set_index("label")

In [155]:
dataTest.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
label,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [156]:
dataTest.to_csv('modDataTest.csv')

In [157]:
modData.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [158]:
modData = modData.set_index("label")

In [159]:
modData.to_csv('modDataTest.csv')

In [160]:
modData.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
label,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0